/* todo-form css */

.todo-form-container{
  display: flex;
  justify-content: center;
}
.todo-form{
  border:1px solid gray;
  padding: 10px;
  border-radius: 4px;
}
.todo-form .text-input{
  padding: 3px 6px;
}
.err{
  border: 1px solid red;
  border-radius: 4px;
}
.todo-form Button{
  margin: 5px;
}
/* filter css */
.filter-container{
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
}
@media screen and (max-width:768px) {
    .filter-container{
       flex-wrap: wrap;
    }
    .filter-container div:nth-child(1){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.filter-container .filter-input{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0px 5px;
}
.filter-container .filter-input:focus{
  outline-color: blue;
}
/* Table css */

.todo-table-container{
  padding: 5px;
}
.todo-table{
  width: 100%;
  border-collapse: collapse;
}
@media screen and (max-width:425px) {
   .todo-table-container{
     overflow: auto;
  }
}
.todo-table tr th{
  border: 1px solid gray;
  padding: 5px 10px;
  background-color: antiquewhite;
}
.todo-table tr td{
  border: 1px solid gray;
  padding: 2px 10px;
}
.todo-table .title-color-high{
  color:red
}
.todo-table .title-color-medium{
  color:rgb(126, 126, 8)
}
.todo-table .title-color-low{
  color:green
}


/* pagination-class */

.pagination-class{
  display: flex;
  list-style-type: none;
  padding: 5px 0px;
  margin: 0px;
}
.pagination-class li{
  padding: 5px 0px;
  border-radius: 4px;
  margin: 0px 5px;
  cursor: pointer;
}
.pagination-active-page{
   background: rgb(98, 120, 233);
   color: white;
   cursor: pointer;
}
.previous.pagination-disabled-page {
  background: rgb(212, 184, 133);
  border-radius: 4px;
  padding: 5px;
  color: black;
  cursor: not-allowed;
}
.next.pagination-disabled-page {
  background: rgb(212, 184, 133);
  border-radius: 4px;
  padding: 5px;
  color: black;
  cursor: not-allowed;
}
.pageClassName{
  cursor: pointer;
  text-align: center;
}
.pageClassName a{
  font-size: 16px;
  width: 50px;
  padding: 5px 15px;
}