*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
:root{
   --button-color:#0058a9;
   --main-bg-color: brown;
}
.todo-container{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.todo{
  min-width: 350px;
  min-height: 300px ;
  border:1px solid rgb(153, 153, 153);
  border-radius: 4px ;
  padding: 5px;
}
.todo-form-input{
  width: 300px;
  height: 33px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0px 5px;
}
.todo-form-input:focus{
   outline-color: rgb(7, 118, 245);
}
.todo-title{
  display:inline-block;
   border-bottom: 3px solid rgb(31, 94, 230);
   margin: 15px 0px 5px 0px;
}
.btn{
  color: white;
  height: 33px;
  padding: 5px;
  border: none;
  margin-left: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgb(231, 231, 231);
  cursor: pointer;
}
.todo-clear-btn{
  background-color: rgb(150, 100, 8);
  margin-top: 4px;
}
.todo-form .todo-add-btn{
   background-color: #0058a9;
}
 .todo-high, .todo-medium, .todo-low{
  margin: 0px 5px;
  cursor: pointer;
}
.todo-priority-check label{
  padding-bottom: 5px;
  font-size: 12px;
}
.delete-icon{
  color: rgb(161, 5, 5);
  cursor: pointer;
}
.todo-lists{
  display: flex;
  padding: 5px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  margin: 3px;
}


.priority-color-high{
  color:red
}
.priority-color-medium{
  color:rgb(136, 136, 11)
}
.priority-color-low{
  color:green
}