/* todo-form css */

.todo-form-container{
  display: flex;
  justify-content: center;
}
.todo-form{
  border:1px solid gray;
  padding: 10px;
  border-radius: 4px;
}
.todo-form .text-input{
  padding: 3px 6px;
}
.err{
  border: 1px solid red;
  border-radius: 4px;
}
.todo-form Button{
  margin: 5px;
}